body{
  font-family: 'Roboto', sans-serif;
}
.f-96{
  font-size: 96px;
  line-height: 112px;
  font-weight: 300;
  letter-spacing: -1.5px;
}
.f-60{
  font-size: 60px;
  line-height: 68px;
  font-weight: 300;
  letter-spacing: -0.5px;
}
.f-48{
  font-size: 48px;
  line-height: 56px;
  font-weight: 400;
  letter-spacing: 0px;
}
.f-34{
  font-size: 34px;
  line-height: 42px;
  font-weight: 400;
  letter-spacing: 0.25px;
}
.f-24{
  font-size: 24px;
  line-height: 32px;
  font-weight: 400;
  letter-spacing: 0px;
}
.f-20{
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  letter-spacing: 0.15px;
}
.f-16{
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: 0.5px;
}
.f-14{
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  letter-spacing: 0.25px;
}
.f-12{
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  letter-spacing: 0.3px;
}
.font-regular{
  font-weight: 400!important;
}
.font-semibold{
  font-weight: 600!important;
}
.font-bold{
  font-weight: 700!important;
}

