body {
  scroll-behavior: smooth!important;
}
button,a,div:focus{
  outline: none!important;
}
button,a,div:active{
  outline: none!important;
}
p,h1,h2,h3,h4,h5,h6{
  margin: 0px;
}
body{
  margin: 0px;
}




